
@font-face {
    font-family: 'just-a-dream';
    src: url(just-a-dream.solid.ttf);
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background: gray;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); 
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
}

#project {
    width: 80%;
    min-width: 700px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

#submit {
    background-color: #434547;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

#submit:hover {
    background-color: #545268;
}

#title {
    font-size: 130px;
    letter-spacing: 2.3px;
    font-family: 'just-a-dream', 'Alfa Slab One', cursive;
    padding: 15px;
    color: rgb(43, 8, 43);
}

form {
    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: #c9c5c1;
    border-radius: 15px;
    border: 1px solid gray;
    
}

input[type=text] {
    border: 2px solid gray;
    border-radius: 4px;
    padding: 2px;
  }

ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0 0 15px;
    line-height: 1.4;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#arena {
    display: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    background: url('https://www.cambridgema.gov/~/media/Images/sharedphotos/departmentphotos/City-COuncil.jpg?mw=767');
    background-color: gray;
    background-size: cover;
    height: 300px;
    border: 5px solid #434547;
    border-radius: 10px;
    margin-bottom: 10px;
}

#arena img {
    object-fit: cover;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 100px;
    border: 5px solid white;
}


#stat-container {
    width: 30%;
    background: #434547;
    color: white;
}

#stats {
    border: none;

}

#stats h1 {
    color: black;
    background-color: #eaeaef;
}


#button-container {
    width: 70%;
}

#buttons div {
    background-color: #706d6a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#buttons div:hover {
    background-color: #545268;
}

#buttons h1 {
    color: black;
    background-color: #c9c9d4;
}

#death {
    background-color: black;
    color: white;
    margin: 10px;
    height: 50px;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    top: 15px;
    left: 15px;
}

#skull {
    -webkit-animation: rotation 2s linear;
}

#heading div {
    color: #2e2561;
    border: 5px solid #40357f;
    font-size: 35px;
}

.hide {
    visibility: hidden;
    transition: 2s linear; 
}

#upgrade {
    object-fit: cover;
    position: relative;
}

span {
    color: red;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}


